body {
  background-image:url("background-brick.jpg");
  background-repeat: repeat-x;
  background-position: right top;
  background-attachment: fixed;
  margin-right:10%;
  margin-left:10%;
  text-align:center;
  font-family:arial;
  position:static;
  width:80%;
  min-width:720px;
  margin: 0 auto;
}

nav {
	padding: 0.25em;
	text-decoration:underline;
	background-color:#f4c095;
	color:#071e22;
	border:2px solid black;
	float:center;
	position:fixed;
	right:2px;
	left:2px;
	top:3px;
}

p#bio {
	background-color:#1d7874;
	padding:1em;
	border-width:2px;
	border-style:dashed;
	border-color:black;
	margin:10px;
}
	
li {
	text-align:left;
}
	
h1 {
	background-color:#ee2e31;
	padding:1em;
	border-width:10px;
	border-style:double;
	border-color:black;
	margin:10px;
}

h3 {
	background-color:#071e22;
	padding:1em;
	border-width:2px;
	border-style:dotted;
	border-color:black;
	color:#f4c095;
	margin:10px;
}

ul {
	background-color:#679289;
	padding:1em;
	border-width:1px;
	border-style:dashed;
	border-color:black;
	margin:10px;
}

a.link:link, a.link:visited {
	background-color:#071e22;
	color:#f4c095;
	padding: 14px 25px;
	text-align:center;
	text-decoration:underline;
	display:inline-block;
	width:7.2em;
}

a.link:hover, a.link:active {
	background-color:#ee2e31;
}
