body {
  background-image:url("background-brick.jpg");
  background-repeat: repeat-x;
  background-position: right top;
  background-attachment: fixed;
  margin-right:10%;
  margin-left:10%;
  text-align:center;
  font-family:arial;
  position:static;
  width:80%;
  min-width:720px;
  margin: 0 auto;
}

nav {
	padding: 0.25em;
	text-decoration:underline;
	background-color:#fcb8c7;
	color:black;
	border:2px solid black;
	float:center;
	position:fixed;
	right:2px;
	left:2px;
	top:3px;
}

p#bio {
	background-color:#fcb8c7;
	padding:1em;
	border-width:10px;
	border-style:dotted;
	border-color:black;
	margin:10px;
}
	
li {
	text-align:left;
}
	
h1 {
	background-color:#fcb8c7;
	padding:1em;
	border-width:10px;
	border-style:dotted;
	border-color:black;
	margin:10px;
}

h3 {
	background-color:#a2efea;
	padding:1em;
	border-width:2px;
	border-style:dotted;
	border-color:black;
	margin:10px;
}
	
